<div class="welcome">
  <div class="welcome-ops">
    <nz-radio-group [(ngModel)]="radioValue" (ngModelChange)="onRadioChange($event)">
      <label nz-radio-button nzValue="A">Hangzhou</label>
      <label nz-radio-button nzValue="B">Shanghai</label>
      <label nz-radio-button nzValue="C">Beijing</label>
      <label nz-radio-button nzValue="D">Chengdu</label>
    </nz-radio-group>
  </div>
  <div class="welcome-content">
    <ng-container [ngSwitch]="radioValue">
      <ng-container *ngSwitchCase="'B'">this is Shanghai content </ng-container>
      <ng-container *ngSwitchCase="'C'">this is Beijing content </ng-container>
      <ng-container *ngSwitchCase="'D'">this is Chengdu content </ng-container>
      <ng-container *ngSwitchDefault>
        <p>this is Hangzhou content</p>
        <button nz-button nzType="primary">antd-button-Primary</button>
        <button class="tw-btn">
          tw-Button
        </button>
      
        <div class="tw-flex tw-items-center tw-justify-center tw-align-middle">
          <div class="tw-flex">
            <div class="tw-m-auto">
              <div class="md:tw-flex">
                <div class="md:tw-flex-shrink-0">
                  <img
                    class="tw-rounded-lg md:tw-w-56"
                    src="https://images.unsplash.com/photo-1556740738-b6a63e27c4df?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2550&q=80"
                    alt="Woman paying for a purchase"
                  />
                </div>
                <div class="tw-mt-4 md:tw-mt-0 md:tw-ml-6">
                  <div class="tw-uppercase tw-tracking-wide tw-text-sm tw-text-indigo-600 tw-font-bold">Marketing</div>
                  <a
                    href="#"
                    class="tw-block tw-mt-1 tw-text-lg tw-leading-tight tw-font-semibold tw-text-gray-900 hover:tw-underline"
                  >Finding customers for your new business</a>
                  <p
                    class="tw-mt-2 tw-text-gray-600"
                  >Getting a new business off the ground is a lot of hard work. Here are five ideas you can use to find your first customers.</p>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- <div class="w-full max-w-xs">
          <form class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4">
            <div class="mb-4">
              <label class="block text-gray-700 text-sm font-bold mb-2" for="username">
                Username
              </label>
              <input
                class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                id="username" type="text" placeholder="Username">
            </div>
            <div class="mb-6">
              <label class="block text-gray-700 text-sm font-bold mb-2" for="password">
                Password
              </label>
              <input
                class="shadow appearance-none border border-red-500 rounded w-full py-2 px-3 text-gray-700 mb-3 leading-tight focus:outline-none focus:shadow-outline"
                id="password" type="password" placeholder="password">
              <p class="text-red-500 text-xs italic">Please choose a password.</p>
            </div>
            <div class="flex items-center justify-between">
              <button
                class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
                type="button">
                Sign In
              </button>
              <a class="inline-block align-baseline font-bold text-sm text-blue-500 hover:text-blue-800" href="#">
                Forgot Password?
              </a>
            </div>
          </form>
        </div> -->
      </ng-container>
    </ng-container>
  </div>
</div>