@import (multiple) '../../../node_modules/ng-zorro-antd/src/style/themes/dark';
@import './base';

//自定义参数覆盖
@layout-sider-background: @component-background;
@layout-header-background: @component-background;

//自定义样式变量
@background-welcome-content: #000;


.tw-btn  {
  @apply tw-bg-gray-500 tw-text-gray-800 tw-font-bold tw-py-2 tw-px-4 tw-rounded;
}
