@import (multiple) '../../../node_modules/ng-zorro-antd/src/style/themes/default';
@import './base';

@theme: first;
@ant-prefix: ant;
@html-selector: html;

//antd主题变量
@primary-color: blue;
@btn-primary-color: blue;

//自定义样式变量
@background-welcome-content: blue;